client/notes.md
client/src/navbar.css
client/src/Navbar.jsx
client/src/App.js
client/src/components/HomePage.jsx
client/src/components/PlantIdentify copy 2.jsx
client/src/components/PlantIdentify copy.jsx
